.nav-perso {
    position: relative;
    letter-spacing: 0;
    background: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
    font-weight: bolder !important;
    color: rgb(90, 118, 245);
}