<div class="header">
    <!-- Global Search -->
    <section id="sctGlobalSearch" class="global-search global-search-overlay">
        <div class="container">
            <div class="global-search-backdrop mask-dark--style-2"></div>

            <!-- Search form -->
            <form class="form-horizontal form-global-search z-depth-2-top" role="form">
                <div class="px-4">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="search-input" placeholder="Type and hit enter ...">
                        </div>
                    </div>
                </div>
                <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
            </form>
        </div>
    </section>

    <!-- Navbar -->
    <nav class="navbar navbar-transparent navbar-expand-lg navbar--bold navbar--style-2 navbar-light bg-default  navbar--shadow fixed-top">
        <div class="container navbar-container">
            <!-- Brand/Logo -->
                        <a class="navbar-brand" href="../../index.html">
                <%= image_tag("logo/logo-1-d.png", :alt => "pixeloo" , :class => "img-fluid main-img")%>
                            </a>

            <div class="d-inline-block">
                <!-- Navbar toggler  -->
                <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>

            <div class="collapse navbar-collapse align-items-center justify-content-center" id="navbar_main">
                <!-- Navbar search - For small resolutions -->
                <div class="navbar-search-widget b-xs-bottom py-3 d-lg-none d-none">
                    <form class="" role="form">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button class="btn btn-base-3" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>

                <!-- Navbar links -->

                <ul class="navbar-nav ml-lg-auto">
                    <% if user_signed_in? %>
                        <li class="nav-item"><%= link_to 'Se deconnecter' , destroy_user_session_path, method: :delete, class: "nav-perso"%></li>
                    <% else %>
                        <li class="nav-item"><%= link_to 'Se connecter', new_user_session_path, class: "nav-perso"  %></li>
                        <li class="nav-item"><%= link_to 'Créer un compte', new_user_registration_path, class: "nav-perso"  %></li>
                    <% end %>
                </ul>
            </div>

            <div class=" d-none d-lg-inline-block d-xl-inline-block">
                <ul class="navbar-nav ml-auto" data-hover="dropdown">
                    <li class="nav-item nav-item-icon hidden-md-down">
                        <a href="#" class="nav-link btn-st-trigger" data-effect="st-effect-1">
                            <span><i class="fa fa-bars"></i></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>